* {
    text-decoration: none !important;
}

html {
    background-color: black !important;
}

.modal-header, .modal-footer, .table td, .table thead th, .table td, .table th {
    border-bottom: none !important;
    border-top: none !important;
}